

<h1>{{bird.name}}</h1>

<form action="/delete" method="POST" class="delete_form" name="dform">
    <input type="hidden" name="_id" value="{{bird._id}}">
    <input class="delete_button" type="submit" name="done" value="Delete">
</form>

<script>
    console.log("ran script");

    dform.addEventListener("click", function(event){
        var sure = confirm("Are you sure you want to delete this?");
        if (!sure) {
            event.preventDefault();   // don't actually click the button or send a request to the server.
        }

    });

</script>


<div class="bird-info">

    <h2>Description</h2>

    <p>{{bird.description}}</p>

    <h2>Average Eggs Laid</h2>

        <p>{{bird.averageEggs}}</p>


        <h2>Conservation Status</h2>

        {{#if bird.endangered}}
            <p>{{bird.name}} is endangered</p>
        {{else}}
            <p>{{bird.name}} is not endangered</p>
        {{/if}}

        <h2>Nest Information</h2>

        <P>Location: {{bird.nest.location}}</p>
        <P>Materials: {{bird.nest.materials}}</p>

 </div>


<div class="dates-seen">

    <h2>Dates Seen</h2>

    <div class="new-sighting-form">

        <h3>Report a new sighting</h3>

        <form method="POST" action="/addSighting">
            Sighting date: <input type="date" name="date">
            <input type="hidden" name="_id" value="{{bird._id}}">
            <input type="submit" value="Submit">
        </form>

        <div class='flash-errors'>
            {{#if messages}}
                <p class="error-message">{{messages.error}}</p>
            {{/if}}
        </div>

    </div>

    <div class="sighting-list">

        <p>Number of sightings: {{length bird.datesSeen}}</p>

        <div class="sighting">
            {{#each bird.datesSeen}}
                <p>{{formatDate this}}</p>
            {{else}}
            <p>No sightings for {{bird.name}}
            {{/each}}
        </div>
    </div>
</div>